<div class="login">
    <div class="wrap am-form am-form-horizontal">
        <div class="am-form-group">
            <input class="am-form-field am-radius" placeholder="请输入账号" ng-model="vm.admin.username" type="text"/>
        </div>
        <div class="am-form-group">
            <input class="am-form-field am-radius" placeholder="请输入密码" ng-model="vm.admin.password" type="password"/>
        </div>
        <a class="am-btn am-btn-primary am-radius" ng-click="vm.login(vm.admin)">登录</a>
        <a class="am-btn am-btn-link  am-radius" ui-sref="register">注册</a>
    </div>
</div>
